.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.container h1 {
    display: inline-block;
    font-size: 36px;
    background: #fff;
    padding: 10px;
    border-bottom: 4px solid var(--brand-pink);
}

.block.filled {
    background: #fff;
    padding: 10px;
}

.contact-page {
    font-size: 26px;
    background: #fff;
    padding: 10px;
    border-top: 4px solid var(--brand-blue);
}

.contact-page p {
    margin: 15px 0;
}

a.stylish {
    color: var(--brand-blue);
    text-decoration: none;
    border-bottom: 3px solid var(--brand-blue);
    background-color: transparent;
    transition: background-color .25s, color .25s;
}

a.stylish:hover {
    background-color: var(--brand-blue);
    color: #fff;
}

a.stylish.urf-red {
    color: var(--brand-urf-red);
    border-bottom: 3px solid var(--brand-urf-red);
}

a.stylish.urf-red:hover {
    background-color: var(--brand-urf-red);
    color: #fff;
}

.error {
    background-color: #9e1f26;
    padding: 10px;
    color: #fff;
}
