.player-info > * {
  margin: 0 5px;
}

.progress-container {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
}

.progress-container * {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  transition: height .25s;
}

.progress-container .progress-bg {
  background: #bbb;
}

.progress-container .progress-bg.loading {
  background-color: #bbb;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff2fa4' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  height: 12px;
  animation: player-loading 10s infinite linear;
}

.progress-container .progress-primary {
  background: var(--brand-pink);
}

.progress-container .progress-hover {
  background: var(--brand-pink-hover);
}

.navbar:hover .progress-container * {
  height: 12px;
}

.player-info .episode-title {
  margin-left: 5px;
}

@keyframes player-loading {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
