.podcast-content {
  background: #fff;
  padding: 10px;
  border-top: 4px solid var(--brand-blue);
}

.podcast-content p {
  display: inline;
}

.podcast-content img {
  max-width: 100%;
}

.podcast-content .podcast-links {
  margin-top: 10px;
}

.podcast-content .podcast-links a {
  display: inline-block;
  margin: 0 5px;
  padding: 5px;
  background: var(--brand-blue);
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  transition: background-color .25s;
}

.podcast-content .podcast-links a:hover {
  background-color: var(--brand-blue-hover);
}

.podcast-content .podcast-links a.spotify {
  background-color: #1db954;
}

.podcast-content .podcast-links a.spotify:hover {
  background-color: #20e562;
}

@media (min-width: 900px) {
  .podcast-content img.float-right {
    float: right;
    display: inline;
    max-width: 40%;
    max-height: 100%;
  }

  .podcast-episodes {
    width: 60%;
  }
}

@media (max-width: 900px) {
  .podcast-page h1 {
    width: 100%;
    box-sizing: border-box;
  }

  .podcast-content .podcast-links a {
    width: 100%;
    font-size: 1.25em;
    margin: 2.5px 0;
    box-sizing: border-box;
  }
}

.podcast-episodes {
  margin-left: -10px;
}

.podcast-episode {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #000;
  border-left: 0 solid var(--brand-blue);
  transition: background-color .25s, border-left-width .085s;
  cursor: pointer;
}

.podcast-episode:hover {
  background-color: #f0f0f0;
}

.podcast-episode.open, .podcast-episode:hover {
  border-left: 4px solid var(--brand-blue);
}

.podcast-episode > span {
  display: inline-block;
}

.podcast-episode > span:first-child {
  width: 90%;
}

.podcast-episode .duration {
  text-align: right;
  color: #777;
  width: 10%;
  float: right;
  direction: rtl;
}

.podcast-episode .extra {
  margin: 10px 0 0 3px;
}

.podcast-episode button {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background: var(--brand-pink);
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: background-color .25s;
}

.podcast-episode button:hover {
  background-color: var(--brand-pink-hover);
}
