.podcast-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 10px;
}

.podcast {
    grid-column-start: auto;
    grid-column-end: span 1;
    grid-row-start: auto;
    grid-row-end: span 1;
    height: auto;

    transition: transform .25s;
    -webkit-transition: transform .25s;
}

.podcast.tall {
    grid-row-end: span 2;
}

.podcast.wide {
    grid-column-end: span 2;
}

.podcast img {
    max-width: 100%;
}

.podcast.placeholder {
    width: 100%;
    padding-top: 100%;
    background: #ddd;
}

.podcast:hover {
    --scale-amount: 1.03;

    transform: scale(var(--scale-amount), var(--scale-amount));
    -webkit-transform: scale(var(--scale-amount), var(--scale-amount));
}

@media (max-width: 900px) {
    .podcast-gallery {
        grid-template-columns: 1fr;
    }
}
