.splash.desktop {
    display: none;
}

@media(min-width: 900px) {
    .splash.desktop {
        position: relative;
        display: block;
        width: 100%;
        margin: 15px 0 40px;
        text-align: right;
    }

    .splash.desktop h1.line {
        position: relative;
        display: inline-block;
        font-family: 'Avalon', sans-serif;
        font-weight: 700;
        font-size: 208px;
        margin: 5px 0;
        right: 0;
        line-height: 150px;
        opacity: 1;
        z-index: -10;
        color: #fff;
        background-color: var(--brand-blue);
        border: 0;
        animation: 1s fade-upwards ease-in-out backwards;
    }

    h1.line:nth-of-type(2) {
        animation-delay: 0.3s;
    }

    .splash.desktop p {
        position: absolute;
        display: inline-block;
        left: 5px;
        bottom: 5px;
        margin: 0;
        max-width: 6em;
        font-family: 'Bitter', serif;
        font-size: 30px;
        text-align: left;
        background: #fff;
        padding: 10px;

        animation: 1s fade-right 0.7s ease-in-out backwards;
    }

    .splash.mobile {
        display: none;
    }
}

.splash.mobile {
    text-align: center;
}

.splash.mobile p {
    position: relative;
    font-family: 'Bitter', serif;
    font-size: 30px;
    background: #fff;
    padding: 10px;
    animation: 1s fade-upwards-less 1.6s ease-in-out backwards;
}

.splash.mobile .st0 {
    stroke: black;
    animation: 1s fade-fill 1.5s ease-in-out forwards;
}

.splash .urf-link {
    text-decoration: none;
    display: inline-block;
}

.splash .urf-link:after {
    position: relative;
    display: block;
    content: '';
    width: 0;
    height: 4px;
    background: #b02727;
    transition: width .25s;
}

.splash .urf-link:hover:after {
    width: 100%;
}


@keyframes fade-upwards {
    from {
        opacity: 0;
        bottom: -100px;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes fade-upwards-less {
    from {
        opacity: 0;
        bottom: -20px;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        left: -40px;
    }
    to {
        opacity: 1;
        left: 5px;
    }
}

@keyframes fade-fill {
    from {
        fill: transparent;
    }
    to {
        fill: #fff;
    }
}
