:root {
    --text-selection-color: #10aded;
    --brand-pink: #ff2fa4;
    --brand-blue: #363fb4;

    --brand-pink-hover: #b73162;
    --brand-blue-hover: #444df7;

    --brand-urf-red: rgb(176, 39, 39);
}
