@import "styles/Variables.css";
@import "styles/BackgroundPlate.css";
@import "styles/Container.css";
@import "styles/Navbar.css";
@import "styles/SocialIcons.css";
@import "styles/Splash.css";
@import "styles/PlayerControls.css";
@import "styles/PodcastGallery.css";
@import "styles/Podcast.css";
@import "styles/Fonts.css";

body {
    margin: 0;
    font-family: 'Bitter', serif;
}

::selection {
    background: var(--text-selection-color);
}

::-moz-selection {
    background: var(--text-selection-color);
}

.urf-red {
    color: rgb(176, 39, 39);
}

.lazyload, .lazyloading {
    opacity: 0;
    transition: opacity 500ms;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 500ms;
}
